/* Exportação Fonte Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Exportação Fonte Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* SEÇÃO DE CORES */
    --CorBase: #8B0000;
    --Corfff: #fff;
    --CorBranco: #F8F8F8;
    --CorCinza: #DBDBDB;
    --CorCinzaEscuro: #6F6F6F;
    --CorPreto: #343434;
    /* Cor especifica */
    --CorBaseAlpha: rgba(139, 0, 0, 95%);
    /* FIM DA SEÇÃO DE CORES */
    /* SEÇÃO DE FONTES */
    --Fonte12px: 0.750em;
    --Fonte16px: 1em;
    --Fonte24px: 1.5em;
    --Fonte32px: 2em;
    --FonteBold: 700;
    --FonteSemiBold: 600;
    --FonteMedio: 500;
    --FonteNormal: 400;
    --Roboto: Roboto, Poppins, Arial, sans-serif;
    --Poppins: Poppins, Robot, Arial, sans-serif;
    /* FIM DA SEÇÃO DE FONTES */
    /* SEÇÃO DE OUTROS */
    --Padding32px: 2em;
    --Padding24px: 1.5em;
    --Padding16px: 1em;
    --Padding12px: 0.750em;
    --margin32px: 2em;
    --margin24px: 1.5em;
    --margin16px: 1em;
    --margin12px: 0.750em;
    /* FIM DA SEÇÃO DE OUTROS */
}

/* CONFIGURAÇÕES GERAIS DO PROJETO */

* {
    /* Configurações gerais */
    margin: 0;
    padding: 0;
    font-family: var(--Roboto);
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-top: 136px;
    background-color: var(--CorCinza);
}

.tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
}

/* SCROLL */

/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--CorPreto) var(--CorBranco);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--CorBranco);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--CorPreto);
    border-radius: 12px;
    border: 3px solid var(--CorBranco);
}

/* --- */

/* TITULOS / HEADERS */

/* h1{

} */

h2 {
    /* Configurações H2 */
    font: var(--FonteBold) var(--Fonte32px) var(--Poppins);
}

.hide {
    /* Classe para esconder elementos */
    opacity: 0 !important;
    pointer-events: none;
    position: absolute;
}

.unHide{
    opacity: 1 !important;
    pointer-events: auto;
    position: inherit;
    transition: 0.5s;
}

.text-muted {
    /* Deixar o texto muted com 12 pixels */
    font-size: var(--Fonte12px);
}

.required::after {
    /* Adicionar um asterisco vermelho */
    content: ' *';
    color: var(--CorBase);
}

/* Dimensões da Tela quando estiver no celular */
@media only screen and (max-width: 576px) {
    .main-content {
        width: calc(100% - 32px);
        left: 20px;
        position: relative;
        transition: all 0.5s ease;
    }

    .btn-mobile{
        position: relative;
        top: -160px;
        right: 0;
    }

    /* Botão Remover */
    .itemRemoveBtn {
        /* Configuração do botão de excluir (x) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorBase);
        transition: all 0.2s ease-out;
        padding: 0px 8px;
        border: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
    }

    .itemRemoveBtn:hover {
        /* Hover do botão de excluir (x) */
        background-color: var(--CorBase);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }

    /* Botão Editar */
    .itemEditBtn {
        /* Configuração do botão de editar (pencil) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorPreto);
        transition: all 0.2s ease-out;
        margin-right: 4px;
        padding: 0px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
    }

    .itemEditBtn:hover {
        /* Hover do botão de editar (pencil) */
        background-color: var(--CorPreto);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }
}

/* Dimensões da Tela quando estiver no tablet */
@media only screen and (min-width: 768px) {
    .main-content {
        width: calc(100% - 32px);
        left: 20px;
        position: relative;
        transition: all 0.5s ease;
    }

    .btn-mobile{
        position: relative;
        top: 0;
        right: -32px;
    }

     /* Botão Remover */
     .itemRemoveBtn {
        /* Configuração do botão de excluir (x) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorBase);
        transition: all 0.2s ease-out;
        padding: 10px 16px;
        border: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
    }

    .itemRemoveBtn:hover {
        /* Hover do botão de excluir (x) */
        background-color: var(--CorBase);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }

    /* Botão Editar */
    .itemEditBtn {
        /* Configuração do botão de editar (pencil) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorPreto);
        transition: all 0.2s ease-out;
        margin-right: 8px;
        padding: 10px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
    }

    .itemEditBtn:hover {
        /* Hover do botão de editar (pencil) */
        background-color: var(--CorPreto);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }
}

/* Dimensões da Tela quando estiver no PC */
@media only screen and (min-width: 992px) {
    .main-content {
        position: relative;
        width: calc(100% - 80px);
        left: 38px;
        transition: all 0.5s ease;
    }

    .btn-mobile{
        position: inherit;
    }

    /* Botão Remover */
    .itemRemoveBtn {
        /* Configuração do botão de excluir (x) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorBase);
        transition: all 0.2s ease-out;
        margin: 0 2px;
    }
    .bg_Items:hover .list-buttons .itemRemoveBtn {
        opacity: 1;
        pointer-events: auto;
    }
    .itemRemoveBtn:hover {
        /* Hover do botão de excluir (x) */
        background-color: var(--CorBase);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }

    /* Botão Editar */
    .itemEditBtn {
        /* Configuração do botão de editar (pencil) */
        font-weight: var(--FonteSemiBold);
        background-color: transparent;
        color: var(--CorPreto);
        transition: all 0.2s ease-out;
        margin: 0 2px;
    }
    .bg_Items:hover .list-buttons .itemEditBtn {
        opacity: 1;
        pointer-events: auto;
    }
    .itemEditBtn:hover {
        /* Hover do botão de editar (pencil) */
        background-color: var(--CorPreto);
        color: var(--Corfff);
        border: 1px solid var(--CorPreto);
    }
}

/* --- */

/* CONFIGURAÇÕES DA NAVBAR */

.bg_navbar {
    /* Configurações Gerais */
    background-color: var(--CorBase);
}

.navbar-brand {
    /* Logo da Navbar */
    padding: 0 0 0 16px;
    margin: 0;
    color: var(--Corfff) !important;
    font-size: var(--Fonte32px) !important;
    font-weight: var(--FonteBold) !important;
}

.navbar {
    /* Modificar o tamanho da navbar */
    height: 56px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.navbar-dark .navbar-toggler {
    /* Mudar a cor do icone de abertura da navbar */
    color: white !important;
    border: none !important;
    right: 10px;
}

.nav-item {
    /* Configurações dos itens da navbar */
    padding: 2px 0 2px 16px;
    background-color: var(--CorBaseAlpha);
    z-index: 9999999999;
}

.navbar-dark .navbar-nav .nav-link {
    /* Deixar os links da Navbar brancos*/
    color: white;
}

.navItemText {
    /* Modifica os links clicáveis */
    color: var(--Corfff);
    padding: var(--Padding16px);
}

.navItemText:hover {
    /* Hover dos links clicáveis */
    color: var(--CorCinza);
}

/* FIM DAS CONFIGURAÇÕES DA NAVBAR */

/* CONFIGURAÇÕES BREADCRUMB */

.bg_breadcrumb {
    /* Configurações Breadcrumb */
    background-color: var(--Corfff);
    height: 80px;
    font-weight: var(--FonteBold);
}

.breadcrumb_title {
    /* Texto acima da foto, abaixo do logo*/
    color: var(--CorPreto);
    font-size: var(--Fonte24px);
}

.breadcrumb_section {
    /* Centralizar a seção de Breadcrumb */
    position: relative;
    top: 50%;
}

.breadcrumb-item.active a {
    /* Configurar os Itens do Breadcrumb */
    color: var(--CorBase) !important;
    font-size: var(--Fonte16px);
    text-decoration: none;
}

.breadcrumb_items {
    /* Configurar os Itens do Breadcrumb */
    color: var(--CorPreto);
    font-size: var(--Fonte16px);
    text-decoration: none;
}

.breadcrumb_items:hover {
    /* Hover */
    text-decoration: none;
    color: var(--CorCinzaEscuro);
}

/* --- */

/* CONFIGURAÇÕES DA BARRA DE COLAPSO */

.toggler-icon {
    /* Configurações do Icone de Abertura da Sidebar */
    padding: 10px;
    margin: 8px 0;
}

#rotate-toggler {
    padding: 5px;
}

.rotate {
    /* Rotacionar a flecha para a esquerda */
    transform: rotate( 180deg);
    transition: all 0.5s;
}

.noRotate {
    /* Rotacionar a flecha para a direita */
    transform: rotate(0deg);
    transition: all 0.5s;
}

/* Configurações dos itens da lista */

.nav-sidebar ul {
    /* Retirar margens da lista */
    margin: 0;
    padding: 0;
}

.nav-sidebar ul li {
    /* Retirar as bullets da lista */
    list-style: none;
    margin: 8px 0;
}

/* Barra lateral */

@media only screen and (min-width: 992px) {
    .sideBar {
        /* Diminuir o tamanho quando esta colapsada */
        position: fixed;
        z-index: 99999;
        width: 78px;
        background-color: var(--CorBranco);
        transition: all 0.5s ease;
        height: 100%;
    }
    .sideBar.noCollapse {
        /* Aumentar o tamanho quando não está colapsada */
        position: fixed;
        width: 250px;
        overflow-y: scroll !important;
        overflow-x: hidden;
        max-height: 99%;
    }
}

@media only screen and (max-width: 991px) {
    .sideBar {
        /* Diminuir o tamanho quando esta colapsada */
        position: fixed;
        z-index: 1;
        width: 39px;
        background-color: var(--CorBranco);
        transition: all 0.5s ease;
        height: 100%;
    }
    .sideBar.noCollapse {
        /* Aumentar o tamanho quando não está colapsada */
        position: fixed;
        width: 250px;
        overflow-y: scroll !important;
        overflow-x: hidden;
        max-height: 80%;
    }
}

/* --- */

/* Configurações dos itens ativos da barra lateral*/

.sideBar.noCollapse .sidebar-item.active {
    /* Configurações quando a barra não está colapsada*/
    margin: 4px 0 !important;
    position: relative !important;
    top: 5px !important;
    left: 0 !important;
    width: auto !important;
    background-color: var(--CorBase) !important;
    color: var(--Corfff) !important;
    line-height: 25px !important;
    padding-left: 20px !important;
    transition: all 0.2s !important;
    border: 1px solid var(--CorBase) !important;
}

.sidebar-item.active {
    /* Configuração quando a barra está colapsada */
    position: relative !important;
    right: 2px !important;
    top: 5px !important;
    width: calc(100% + 12%);
    display: flex !important;
    background-color: var(--CorBase) !important;
    font: var(--FonteSemiBold) var(--Fonte16px) var(--Poppins) !important;
    color: var(--Corfff) !important;
    border-radius: 0 4px 4px 0 !important;
    border: none !important;
    transition: color 0.2s ease !important;
    line-height: 25px !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.sideBar.noCollapse .sidebar-item.active:hover {
    /* Hover da barra não colapsada */
    border: 1px solid var(--CorBase) !important;
    background-color: var(--CorBase) !important;
    color: var(--CorCinza) !important;
    box-shadow: 1px 4px 10px #00000033;
}

/* --- */

/* Configurações dos itens da barra lateral */

.sideBar .btnToggle {
    /* Configurações do Botão da Sidebar */
    position: relative;
    top: 5px;
    display: flex;
    background-color: var(--CorBranco);
    font: var(--FonteSemiBold) var(--Fonte16px) var(--Poppins);
    color: var(--CorPreto);
    border-radius: 4px;
    border: none;
    line-height: 25px;
    align-items: center;
    justify-content: center;
}

.sideBar .btnToggle:hover {
    /* Hover */
    background-color: var(--CorBase);
    color: var(--Corfff);
}

.sideBar .sidebar-item {
    /* Configuração quando a barra não está colapsada */
    position: relative;
    top: 5px;
    display: flex;
    background-color: var(--CorBranco);
    font: var(--FonteSemiBold) var(--Fonte16px) var(--Poppins);
    color: var(--CorPreto);
    border-radius: 4px;
    border: none;
    transition: color 0.2s ease;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
}

.sidebar-item:hover {
    /* Hover */
    background-color: var(--CorBase);
    color: var(--Corfff);
    box-shadow: 1px 4px 10px #00000033;
}

.sideBar.noCollapse .sidebar-item {
    /* Configuração quando a barra está colapsada */
    margin: 4px 0;
    position: relative;
    width: auto;
    left: 0px;
    display: flex;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

/* --- */

/* Configurações dos textos da barra lateral */

.sideBar.noCollapse .nav-sidebar .sidebar-text {
    /* Configuração quando a barra não está colapsada */
    position: relative;
    opacity: 1;
    transition: all 0.5 ease;
}

.sideBar .nav-sidebar .sidebar-text {
    /* Configuração quando a barra está colapsada */
    position: absolute;
    opacity: 0;
}

/* --- */

.sideBar .nav-sidebar .sidebar-icon {
    /* Configuração dos icones quando a barra está colapsada */
    position: relative;
    padding: 5px;
}

/* --- */

/* Configurações do perfil da barra lateral */

.sideBar.noCollapse .profile .profile-picture {
    /* Configuração da foto quando a barra não está colapsada */
    position: relative;
    object-fit: cover;
    top: 0;
    left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 1;
    pointer-events: auto;
}

/* Configuração da foto quando a barra está colapsada */

.sideBar .profile .profile-picture {
    /* Fazer com que a foto suma quando a barra estiver colapsada */
    pointer-events: none;
    opacity: 0;
    position: absolute;
}

.sideBar .profile .profile-picture .bg_cameraIcon {
    /* Animação de volta do icone de foto */
    position: absolute;
    bottom: 2px;
    right: -52px;
    opacity: 0;
}

/* Configurações do icone de foto */

.sideBar.noCollapse .profile .profile-picture .cameraIcon {
    /* Fazer com que mostre o icone quando a barra não estiver colapsada*/
    position: absolute;
    top: 7px;
    left: 6px;
    opacity: 1;
    transition: 0.3s ease;
}

/* Icone de Trocar de Foto (Icone de Rotação) */

.sideBar.noCollapse .profile .profile-picture .switchIcon {
    position: absolute;
    top: 60px;
    left: 110px;
    color: var(--CorCinzaEscuro);
    opacity: 0;
}

.sideBar.noCollapse .profile .profile-picture .profile-switchImg:hover .switchIcon {
    /* Hover que fará o icone aparecer */
    top: 75px;
    left: 110px;
    color: var(--CorPreto);
    opacity: 1;
    transition: all 0.5s ease;
}

/* Icone embaixo da Foto (Icone de Camera) */

.sideBar .profile .profile-picture .profile-switchImg {
    /* Sumir quando a barra estiver colapsada */
    color: var(--CorBranco);
    opacity: 0;
}

.sideBar.noCollapse .profile .profile-picture .profile-switchImg {
    /* Aparecer quando a barra não estiver colapsada */
    color: var(--CorPreto);
    opacity: 1;
}

/* Configurações da Foto de Perfil */

.sideBar.noCollapse .profile .profile-picture .profile-switchImg .profile-myPhoto {
    filter: grayscale(0%);
    transition: 0.5s;
}

.sideBar.noCollapse .profile .profile-picture .profile-switchImg:hover .profile-myPhoto {
    /* No hover a imagem ficará com um filtro cinza */
    filter: grayscale(80%);
}

.sideBar.noCollapse .profile .profile-picture .bg_cameraIcon {
    /* Configurações do fundo do icone de camera no perfil */
    position: absolute;
    background-color: var(--CorBranco);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    bottom: 2px;
    right: 52px;
    opacity: 1;
    transition: all 0.5s ease;
}

.sideBar.noCollapse .profile .profile-name {
    /* Configuração do nome quando a barra não está colapsada */
    position: relative;
    top: 0;
    left: 0;
    color: var(--CorPreto);
    font: var(--FonteSemiBold) var(--Fonte24px) var(--Poppins);
    padding-bottom: 8px;
    opacity: 1;
    transition: all .3s ease;
}

.sideBar .profile .profile-name {
    /* Configuração do nome quando a barra está colapsada */
    /* Fazer com que a foto suma quando a barra estiver colapsada */
    pointer-events: none;
    opacity: 0;
    position: absolute;
}

/* --- */

/* CONFIGURAÇÕES DA SEÇÃO DE INFORMAÇÕES */

@media only screen and (max-width: 991px) {
    .bg_background {
        /* Background da parte das informações */
        background-color: var(--CorCinza);
        height: auto;
        padding-top: 8px;
    }
}

.bg_background {
    /* Background da parte das informações */
    background-color: var(--CorCinza);
    height: auto;
    padding-top: 12px;
}

.bg-d-profile {
    /* Background Dashboard Profile */
    background-color: var(--Corfff);
    padding: var(--Padding16px) 0px 0px var(--Padding16px);
    border-radius: 4px;
    transition: 0.2s;
}

.bg-d-profile:hover {
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
}

.bg-d-vehicles {
    /* Background Dashboard Veiculos */
    background-color: var(--Corfff);
    padding: var(--Padding16px) 0px 0px var(--Padding16px);
    margin-bottom: 12px;
    border-radius: 4px;
    border-radius: 4px;
    transition: 0.2s;
}

.bg-d-vehicles:hover {
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
}

.bg-d-adresses {
    /* Background Dashboard Endereços */
    background-color: var(--Corfff);
    padding: var(--Padding16px) 0px 0px var(--Padding16px);
    margin-bottom: 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.bg-d-adresses:hover {
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
}

.bg-d-banks {
    /* Background Dashboard Bancos */
    background-color: var(--Corfff);
    padding: var(--Padding16px) 0px 0px var(--Padding16px);
    border-radius: 4px;
    margin-bottom: 12px;
    transition: 0.2s;
}

.bg-d-banks:hover {
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
}

.bg-d-contacts {
    /* Background Dashboard Contatos */
    background-color: var(--Corfff);
    padding: var(--Padding16px) 0px 0px var(--Padding16px);
    margin-top: 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.bg-d-contacts:hover {
    box-shadow: 0px 0px 6px 1px rgb(0 0 0 / 20%);
}

/* --- */

/* SEÇÃO DASHBOARD ITENS */

.dashboard_items ul li {
    border: none;
    background-color: transparent;
    padding-left: 0px;
}

.my_dataLabel {
    /* Mudança dos textos na pagina de Dashboard - Label */
    font: var(--FonteBold) var(--Fonte16px) var(--Poppins);
    color: var(--CorCinzaEscuro);
    padding: 4px 0 4px 0;
}

.my_dataValue {
    /* Mudança dos textos na pagina de Dashboard - Informações Fornecidas */
    font: var(--FonteBold) var(--Fonte16px) var(--Poppins);
    color: var(--CorPreto);
    padding: 4px 0 8px 0;
}

.seeMoreBtn {
    /* Botão de VER MAIS */
    font: var(--FonteSemiBold) var(--Fonte16px) var(--Poppins);
    background-color: var(--CorBase);
    border: 1px solid var(--CorBase);
    color: var(--Corfff);
    margin: 0 var(--margin16px) var(--margin16px) 0;
    transition: all 0.2s ease-out;
}

.seeMoreBtn:hover {
    background: none;
    color: var(--CorPreto);
}

/* --- */

/* SEÇÃO DA PAGINA DE PERFIL */

.bg_sections {
    /* Background da pagina de Perfil */
    background-color: var(--Corfff);
    padding: var(--Padding16px) var(--Padding16px) 0px var(--Padding16px);
    border-radius: 4px;
    height: 75vh;
    /* max-height: 80vh; */
    overflow-y: auto;
    margin-bottom: 12px;
}

.bg_sections .form-label {
    /* Modificar os labels dos formularios da pagina de perfil */
    color: var(--CorCinzaEscuro);
}

.bg_sections .form-control {
    /* Configurações do formato dos formularios */
    border: none !important;
    border-radius: 4px;
    background-color: var(--CorBranco);
    color: var(--CorPreto);
    margin: var(--margin16px) 0;
}

.editBtn {
    /* Botão de EDITAR */
    font-family: var(--Poppins);
    font-weight: var(--FonteSemiBold);
    background-color: var(--CorBase);
    color: var(--Corfff);
    border: 1px solid var(--CorBase);
    border-radius: 4px;
    width: 100%;
    margin: var(--margin32px) 0 var(--margin16px) 0;
    transition: all 0.2s ease-out;
}

.editBtn:hover {
    background: var(--Corfff);
    color: var(--CorPreto);
    border: 1px solid var(--CorBase);
}

/* --- */

/* SEÇÃO DAS PAGINAS */

.bg_Items {
    /* Background Geral dos itens */
    background-color: var(--Corfff);
    padding: 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.bg_Items:hover {
    /* Hover ao passar o mouse na caixa dos itens */
    /* box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 20%); */
    background-color: var(--CorBranco);
}

.list-label {
    /* Titulos dos itens, Label que será mostrada */
    background-color: transparent;
    font: var(--FonteBold) var(--Fonte16px) var(--Poppins);
    color: var(--CorCinzaEscuro);
    border: none;
    padding-top: 0;
    padding-left: 0;
}

.list-value {
    /* Resultado dos inputs que serão mostrados */
    background-color: transparent;
    font: var(--FonteBold) var(--Fonte16px) var(--Roboto);
    color: var(--CorPreto);
    border: none;
    padding-top: 0;
    padding-left: 0;
}

/* Configuração unica da seção de anunciar */
.announce-weight::after {
    content: "kg";
    color: var(--CorPreto);
}

/* Lista de Itens dos menus de Criar */

.bg_Items ul{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

.bg_Items ul li{
    padding-right: 160px;
}

